body {
    font-family: 'Lato';
}

.section-steps {
    background-color: #f4f4f4;
}

section{
    padding: 40px;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #555;
}

.fa-btn {
    margin-right: 6px;
}

.navbar{
    margin-bottom: 0px;
}

.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.5), #000), url('http://www.mediafire.com/convkey/5dcb/wz6mb4yts7ppn31zg.jpg');
    background-size:cover;
    background-position: center;

    height: 55vh;

    color:white;
}

.icon-big {
    font-size: 500%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #76b852;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*-------------Footer-------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#3AD662; }

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
.footer-social li{
    float:left;
}
.linked-in{
    background-color:#007bb6;
}
.facebook{
    background-color:#3b5998;
}
.twitter{
    background-color:#1da1f2;
}
.google{
    background-color:#f63e28;
}


